<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vampires</title>
</head>

<body>
    <h1>Vampires</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/vampires/new">Add a Vampire</a></li>
        </ul>
    </nav>

    <h2>Here are the vampires:</h2>
    <% for(let i=0; i < allVampires.length; i++) { %>
        <li>
            <%= allVampires[i].vampireName %>
        </li>
        <% } %>

</body>

</html>